

<h1>Make Your Burger</h1>

<img src="/assets/img/the-triple-triple-burger.jpg" alt="burger">

<h2>Burgers that are not eaten</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
     <li>
       {{this.burger_name}}
       {{this.id}} 
        <form method="POST" action="burger/{{this.id}}?_method=put">
        
       <input type="hidden" name="devoured" value="true">
       <button type="submit">Devour Burger</button>
        </form>
</li>

    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers that are eaten</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Build a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name">Burger Name:</label>
    <input type="text" name="name">
    <input type="hidden" name="time" value="CURRENT_TIMESTAMP">
  </div>
  <form action = "burger/create" method="POST">
  <button type="submit">Build Burger</button>
</form>
